# pinmap.pcf
set_io --warn-no-port CLOCK_50      D1
set_io --warn-no-port RESET_N       B3

set_io --warn-no-port SPI_CLK_IN    A1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               1
set_io --warn-no-port SPI_MOSI_IN   B1
set_io --warn-no-port SPI_CS_IN     E2

set_io --warn-no-port INTERRUPT_OUT B6
set_io --warn-no-port SERIAL_OUT    A3

set_io --warn-no-port LA_0   C6
set_io --warn-no-port LA_1   B4
set_io --warn-no-port LA_2   E3
set_io --warn-no-port LA_3   B5
set_io --warn-no-port LA_4   C2
set_io --warn-no-port LA_5   E1
set_io --warn-no-port LA_6   C5 # A1
